{% extends "base.html" %}

{% block content %}
<div style="text-align: center; margin: 50px auto; max-width: 800px;">
    <h1>Acerca de mí</h1>
    <p>Hola, soy Facundo Bustos Bean. Este es mi proyecto final: una aplicación web para la gestión de un kiosco.</p>
    <p>La aplicación está diseñada para facilitar la administración de productos, ventas y clientes de un negocio. Su objetivo es brindar herramientas prácticas, accesibles y fáciles de usar para llevar el control del inventario y las transacciones diarias.</p>

    <h2>Funciones principales</h2>
    <ul style="list-style: none; padding-left: 0;">
        <li>✅ Carga y visualización de productos disponibles.</li>
        <li>✅ Registro y consulta de ventas realizadas.</li>
        <li>✅ Administración de la información de los clientes.</li>
        <li>✅ Búsqueda rápida y eficiente de datos específicos.</li>
    </ul>

    <p>Tambien cuenta con un sistema de autentificacion de usuarios y niveles de permisos, solo los administradores pueden acceder a las funciones mas sencibles</p>
</div>
{% endblock %}
