{% extends 'base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
<h2>Lista de Productos</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            {% if user.is_superuser %}
                <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre_producto }}</td>
            <td>${{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            {% if user.is_superuser %}
                <td>
                    <a href="{% url 'editar_producto' producto.id %}" class="boton">Editar</a>  
                    <a href="{% url 'borrar_producto' producto.id %}" class="boton borrar" onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')">Eliminar</a>
                </td>
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="{% if user.is_superuser %}4{% else %}3{% endif %}" class="center">No hay productos cargados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="botones-contenedor">
    {% if user.is_superuser %}
        <a href="{% url 'agregar_producto' %}" class="boton">Agregar Producto</a>
        {% endif %}
        <a href="{% url 'buscar_producto' %}" class="boton">Buscar Producto</a>
</div>
        

{% endblock %}
