{% extends 'base.html' %}

{% block title %}Lista de Ventas{% endblock %}

{% block content %}
<h2>Lista de Ventas</h2>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Acciones</th> <!-- Nueva columna -->
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.producto.nombre_producto }}</td>
            <td>{{ venta.cantidad }}</td>
            <td>{{ venta.producto.precio }}</td>
            <td>
                {{ venta.cliente.nombre }}
                <br>
                <a href="{% url 'detalle_cliente' venta.cliente.pk %}" class="boton secundario">Leer más</a>
            </td>
            <td>{{ venta.fecha }}</td>
            <td>
                <a href="{% url 'editar_venta' venta.pk %}" class="boton">Editar</a>
                <a href="{% url 'borrar_venta' venta.pk %}" class="boton borrar">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="center">No hay ventas cargadas.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="botones-contenedor">
    <a href="{% url 'agregar_venta' %}" class="boton">Agregar Venta</a>
    <a href="{% url 'buscar_venta' %}" class="boton">Buscar Venta</a>
</div>

{% endblock %}
